/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;

  background-image: url('assets/images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of the viewport height */
}

/* Navigation Styles */
.navbar {
  background-color: #060a05;
  color: #fff;
  padding: 20px 0;
}

.logo {
  left: -150px;
  margin-top: -40px;
  display: inline-block;
  position: relative;
  perspective: 1000px; /* Perspective for 3D effect */
  transition: perspective 0.5s, transform 0.5s; /* Transition for smooth animation */
}

.logo:hover {
  perspective: 1000px;
}

.logo img, .company-name {
  backface-visibility: hidden; /* Hide the backface for a clean flip effect */
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  z-index: 1; /* Ensure the logo image is on top */
  transform: rotateY(0deg); /* Start position */
  transition: transform 0.5s;
}

.company-name {
  z-index: 0; /* Ensure the company name is behind the logo */
  transform: rotateY(180deg); /* Flipped position */
  opacity: 0; /* Initially hidden */
  transition: transform 0.5s, opacity 0.5s;
  color: #ddd;
}

.logo:hover img {
  transform: rotateY(-180deg); /* Flip the logo on hover */
}

.logo:hover .company-name {
  transform: rotateY(0deg); /* Show the company name on hover */
  opacity: 1; /* Make it visible */
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensures it's above other elements */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s; /* Smooth animation */
}

.nav-list {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 65px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  background: blue;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-item a:hover {
  background-color: #555;
}

.content1 {
  text-align: center;
  margin: 20px;
  font-size: 30px;

}

/* About Section Styles */
.about-section1 {
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  padding: 20px 0;
  color: white !important;
  margin-right: 20px;
}

.button1 {
  font-size: 30px !important;
  margin-top: 20px !important;
  
}

.social-media-section1 {
  display: flex;
  justify-content: bottom;
  align-items: center;
  height: 80px;
  background-color: #000;
  color: #000;
  margin-top: 100px;
}

.social-media-links {
  display: flex;
  gap: 20px;
}

.social-media-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: #ccc;
}

.footer {
  color: #f4f4f4;
  right: 100px;
}

/* Social Media Section Styles */
.social-media-section2 {
  display: flex;
  justify-content: bottom;
  align-items: center;
  height: 80px;
  background-color: #000;
  margin-top: 100px;
  color: #000;
}

.social-media-links {
  display: flex;
  gap: 20px;
}

.social-media-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: #ccc;
}

.footer {
  color: #f4f4f4;
  right: 100px;
}

.social-media-section3 {
  display: flex;
  justify-content: bottom;
  align-items: center;
  height: 100px;
  margin-top: auto;
  background-color: black;
  color: #000;
  
}

.social-media-links {
  display: flex;
  gap: 20px;
  
}


.social-media-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: #ccc;
}

.footer {
  color: #f4f4f4;
  right: 100px;
}


/* About Us Section Styles */
.about-section2 {
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
  color: white !important;
  font-weight: bold;
  margin-right: 20px;
}

/* Workers Section Styles */
.workers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}

.worker {
  text-align: left !important;
  margin: 40px;
  margin-top: -20px;
  width: 120px; /* Fixed width for all workers */
  height: 120px; /* Fixed height for all workers */
}

.worker img {
  width: 150%; /* Take up the full width of the .worker div */
  height: 150%; /* Take up the full height of the .worker div */
  object-fit: cover;
  transition: transform 0.6s;
}

.worker p {
  margin-top: 10px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.6s;
}

.worker:hover img {
  transform: scale(1.1); /* Optional: Zoom effect on hover */
}

.worker:hover p {
  opacity: 1;
}

.contact-section {
  margin-right: 20px;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  
}

.contact-details {
  margin-top: 50px;
}

.working-hours-section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #ddd; /* Add a border around the box */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.working-hours {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Display days and times in two columns */
  gap: 10px; /* Gap between the day-time pairs */
}

.day, .time {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Border for each day-time pair */
}

.day {
  font-weight: bold;
  color: #000; /* Make the day text bold */
}

.time {
  color: #555; /* Dim the time text color for contrast */
}


.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 150px; /* You can adjust this width based on your design */
  background-color: gray; /* Background color for the dropdown */
  border: 1px solid #ccc; /* Optional: Add a border for styling */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: Add shadow for depth */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the column */
}


.why-choose-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
}

.why-choose-item {
  flex: 0 0 calc(33.33% - 20px); /* Adjust as needed for 3 items in a row */
  padding: 10px;
  text-align: center;
}

.why-choose-item img {
  max-width: 100px; 
  height: auto;
  background: white;
}

.why-choose-us{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.partners-section {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.partners {
  font-weight: bold;
}




@media screen and (max-width: 599px) {
  .container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-list {
    display: none; /* Hide the nav list by default */
    flex-direction: column; /* Stack nav items vertically */
    width: 100%; /* Take full width */
    text-align: center; /* Center-align items */
    position: absolute;
    top: 60px; /* Adjust this based on your navbar height */
    left: 0;
    background-color: #060a05; /* Match your navbar background */
    z-index: 999; /* Ensure it's above other content */
}

.menu-toggle {
  display: flex;
}

.menu-checkbox:checked ~ .nav-list {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Take full viewport height */
}

  .content1, .about-section1, .about-section2, .contact-section, .partners-section, .why-choose-us {
    text-align: center;
    margin: 20px;
  }

  .worker {
    margin: 20px;
  }

  .working-hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .day, .time {
    text-align: left;
  }

  .dropdown-menu {
    position: static;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    max-height: 1000px;
  }
}



@media screen and (min-width: 1201px) {
  .container {
    max-width: 1200px;
  }
}